# Clojure
.clj-kondo/
.lsp/
**/.cpcache
packages/*/target

# Website (compiled)
/resources/public/*

# Leiningen
/.lein-*
.nrepl-port

# VS Code
.vscode/
.calva/

# Eclipse
.classpath
.project
.metadata
.settings/

# Intellij
.idea/
*.iml
*.iws

# Sublime Text
*.sublime-project
*.sublime-workspace

# Mac
.DS_Store

# Maven
log/
target/

# Java
*.class
*.jar
*.war
*.ear