doctype
html(lang='en', ng-app='parsec')
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name='viewport', content='width=device-width', initial-scale='1.0')
        meta(name='description', content='Parsec website')
        meta(name='author', content='Expedia Group <oss@expediagroup.com>')
        meta(name='copyright', content='Copyright © Expedia, Inc.')
        meta(http-equiv='ClearType', content='on')
        base(href='/')

        title(ng-bind='$root.page_title')

        link(rel='icon', href='/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
        link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
        link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
        link(rel='manifest', href='/manifest.json')
        link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
        meta(name='theme-color' content='#ffffff')

        link(rel='stylesheet', href='/css/vendor.css')
        link(rel='stylesheet', href='/css/app.css')

        script(src='/js/vendor.js')
        script(src='/js/vendor2.js')
        script(src='/js/app.js')

    body.ng-cloak(ng-controller='AppController', ng-cloak=true)
        .wrap
            include partials/header

            section.page(ui-view)

        include partials/footer

