.page-crunch {

  @include responsive-pad();

  margin-top: -2rem;

  .crunch, .parsec {
    @include span-columns(5.6);
    margin-bottom: 5rem;
  }

  .converter {
    @include span-columns(0.8);
    @include user-select(none);
    @include hand();
    text-align: center;

    i {
      font-size: 2rem;
      margin-top: 10rem;
      padding: 0.5rem;
    }
  }
}
