
$page-background-color: transparent;
$theme-accent-background-color: #3d444e;
$theme-accent-text-color: #d6d6da;

$rocket-blue: #3fa9d7;

$header-height: 4rem;
$footer-height: 6rem;

$page-margins: 3.3rem;

/* Colors */
$symbol-color: #8F8F8F;
$statement-color: #0074d9;
$function-color: #2ecc40;
$literal-color: #ff4136;
$operator-color: #ff851b;
$input-color: #ffdc00;
